@using PagedList;
@using PagedList.Mvc;
@model IPagedList<InformationManagementMVC.Models.CallList>

@{
    ViewBag.Title = "Index";
}

<h2>ContactList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p class="text-danger">
    @TempData["error"]
</p>
<p class="text-success">
    @TempData["success"]
</p>
<table class="table table-striped table-bordered table-hover table-full-width dataTable">
    <tr>
        <th>
            SNo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().OffNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MobNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HomeTelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CurAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().OffAdd)
        </th>
        <th>Select</th>
    </tr>
    @{int RowNo = 0;}
    @*@foreach (var item in Model)*@
    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
    {
        <tr>
            <td>
                @* @{RowNo++;} @RowNo*@
                @item.Index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Data.OffNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.MobNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.HomeTelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.CurAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.OffAdd)
            </td>
            <td>
                <span class="glyphicon glyphicon-log-out">
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Data.Id })
                </span>
                @*@Html.ActionLink("Details", "Details", new { Id = item.Data.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Data.Id })*@
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { UserID = Session["UserID"], page }), new PagedListRenderOptions() { DisplayPageCountAndCurrentLocation = true })

